$mobilefontsize: 120%;

@media only screen and (max-width: 600px) {
  .bodies{
    font-size: $mobilefontsize
  }
}


#indexbody{
  margin: 2px 1% 0 5px;
}

.dogmargin {
  margin: 10px 2px 10px;
}
.interestable { 
  border-collapse:separate; 
  border-spacing:0 15px; 
} 

%headers {
  text-align: center;
}

h1{
  @extend %headers
}
h2{
  @extend %headers;
  color: darkgrey;
}
a {
img{
  width:80%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
}
table { 
  border-collapse: collapse; 
  margin: 0 auto;
} 
%tables {
  width:150px; 
  text-align:center; 
  border:1px solid black; 
  padding:5px 
}
th { 
  @extend %tables;
  
} 
td { 
@extend %tables


} 
.tabletop{
  background-color:green; 
  Color:white; 
}
.interestable { 
  border-collapse:separate; 
  border-spacing:0 5px; 
} 
.thtr { 
  border-right:hidden; 
} 